<div class="container">
  <%# this is the search bar %>
  <div class="searchBar">
  <%# row justify-content-center %>
    <div class="">
      <%= form_with url: items_path, method: :get, class: "sb_form" do %>
      <%= text_field_tag :query, params[:query], class: "sb_textarea", placeholder: "Search for a specific item"%>
      <%= submit_tag "search", name: "", class: "sb_button" %>
    <% end %>
  </div>
</div>
<%# this is the search bar %>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @items.each do |item| %>
    <div class="col">
      <div class="card d-flex">
        <%= link_to item, :action => 'go' do %>
          <div class="item-photo">
            <%= cl_image_tag item.photo.key, height: 300, width: 400, crop: :fill, class: "photo" %>
          </div>

          <div class="card-body">
            <h5 style="font-size:35px;" class="card-title"><%= item.name %></h5>
            <p class="card-text">€<%= item.price %></p>
            <p class="card-text">Owner: <%= item.user.first_name %></p>
          </div>

        <% end %>
      </div>
  </div>
      <% end %>
</div>
</div>
