<!DOCTYPE html>
<html>
  <head>
    <title>Giveandtake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <%# this was added by us %>
  <%= render "shared/navbar" %>

  <%# # not sure about the position of these three codes! %>

  <%# #alert-flashes %>
  <%= render "shared/flashes" %>

    <%= yield %>

  <%= render "/shared/footer"  %>

  </body>
</html>
